<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Demonstrate the call for a web service</title>
</head>
<body ng-app="wsModule">

<div ng-controller = "wsController">
	<br /><br /> 
	<p class="error">{{error}}</p>
	<input type="text" ng-model="searchBy" placeholder="Enter two letters and hit Search button"> <input type="button" ng-click="searchCountry(searchBy)" value="Search">
	<div> Results :
	<ul ng-repeat="country in countries.RestResponse.result">
	<li>{{country.name}}</li>
	</ul>
	</div>
</div>

	<script src="../js/angular.js"></script>
	<script src="../js/customscript.js"></script>
</body>
</html>